<div
  id="fh5co-hero-carousel"
  class="carousel slide header"
  data-ride="carousel"
>
  <nav class="navbar fixed-top navbar-expand-xl">
    <div class="container">
      <a class="navbar-brand mobile-logo" href="/">
        <div class="card-overlay">
          <img
            style="
              height: 95px;
              width: 165px;
              position: relative;
              top: -45px;
              right: 360px;
            "
            src="/assets/images/logA1.png"
            alt="Vista Pro"
          /></div
      ></a>
      <button
        class="navbar-toggler"
        data-target="#my-nav"
        onclick="myFunction(this)"
        data-toggle="collapse"
      >
        <span class="bar1"></span> <span class="bar2"></span>
        <span class="bar3"></span>
      </button>

      <div id="my-nav" class="collapse navbar-collapse">
        <div style="position: absolute; top: 30px">
          <p class="text-left follow">Follow Us:</p>
          <ul class="navbar-nav float-left social-links">
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/fh5co"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fab fa-pinterest-p"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/fh5co"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fab fa-google-plus-g"></i
              ></a>
            </li>
          </ul>
        </div>

        <ul class="navbar-nav mx-auto logo-desktop">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              ><img
                style="
                  height: 100px;
                  width: 145px;
                  position: relative;
                  top: 2px;
                  right: -100px;
                "
                src="/assets/images/logA1.png"
                alt="Vista Pro"
            /></a>
          </li>
        </ul>
        <ul
          class="navbar-nav float-right menu-links"
          style="width: 375px; position: relative"
        >
          <li class="nav-item">
            <a href="/" S class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/about-us" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/gallery" class="nav-link">Gallery</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact Us</a>
          </li>
          <li class="nav-item">
            <a href="/events" class="nav-link">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100 home-bg"
        alt="home-bg"
        src="assets/images/bac01.png "
      />
      <div class="carousel-caption d-md-block">
        <p class="frst-hrd">Eduction is afundamental human right</p>
        <h5>Eductaion’s NOT A PRIVILEGE.</h5>
        <p>
          We will strive towards achieving it no matter what impedents try to
          turn us down
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100 home-bg"
        alt="home-bg"
        src="assets/images/bac2.png"
      />

      <div class="carousel-caption d-md-block">
        <p class="frst-hrd">Eduction is afundamental human right</p>
        <h5>Eductaion’s NOT A PRIVILEGE.</h5>
        <p>
          We will strive towards achieving it no matter what impedents try to
          turn us down
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100 home-bg"
        alt="home-bg"
        src="assets/images/bac3.png"
      />

      <div class="carousel-caption d-md-block">
        <p class="frst-hrd">Eduction is afundamental human right</p>
        <h5>Eductaion’s NOT A PRIVILEGE.</h5>
        <p>
          We will strive towards achieving it no matter what impedents try to
          turn us down
        </p>
      </div>
    </div>
    <div class="scroll-button" style="position: relative; top: 770px">
      <p>Scroll down to see more...</p>
      <a href="#about-us" class="page-scroll">
        <img src="assets/images/arrows-down.png" alt="arrow down" />
      </a>
    </div>
  </div>
  <ul class="carousel-indicators">
    <li
      class="active"
      data-target="#fh5co-hero-carousel"
      data-slide-to="0"
      aria-current="location"
    ></li>
    <li data-target="#fh5co-hero-carousel" data-slide-to="1"></li>
    <li data-target="#fh5co-hero-carousel" data-slide-to="2"></li>
  </ul>
</div>
